<!DOCTYPE html>
<html>
   <head>
      <title>About</title>
      <style>
         h1 {
            color: blue;
            text-align: center;
         }
         table {
            border: 2px solid black;
            border-collapse: collapse;
            width: 50%;
         }
         th,
         td {
            border: 1px solid black;
            padding: 5px;
         }
         th {
            background-color: lightgrey;
         }
      </style>
   </head>
   <body>
      <h1>Your Information</h1>
      <table>
         <tr>
            <th>{{ email }}</th>
            <th>{{ pwd }}</th>
         </tr>
      </table>
   </body>
</html>
